# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store

# Compiled binary
gin-framework-example
