go 1.27.1

use (
	./01-go-fundamentals
	./02-go-pointers
	./03-go-concurrency
	./04-go-data-structures
	./05-go-algorithms
	./06-stdlib-http
	./07-stdlib-logger
	./08-go-mysql-example
	./09-go-redis-example
	./10-go-mongodb-example
	./11-gin-framework-example/src
	./12-echo-framework-example
	./13-go-jwt-example
	./14-asynq
	./15-go-zero-example/greet
	./15-go-zero-example/user
	./15-go-zero-example/user-api
	./16-go-telegram-bot-example
	./17-go-web3-example
)
